body {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.container {
  width: 300px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 95%;
  padding: 10px;
  background: #4285f4;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #3273dc;
}

#status {
  margin-top: 10px;
  font-weight: bold;
}
